html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-size:12px;
}

.clear{
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#overflow_div {
    position: relative;
    width: 100%;
    min-width: 1000px;
    min-height: 100%;
    overflow: hidden;
}

.content-wraper {
    position: relative;
    background: #bbf1a1;
}

.content {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    padding: 20px 0;
    background: linear-gradient(to top, #2d4efe, #66e3f1);
    background-color: #2d4efe;
}

.title{
    padding: 30px 0 5px 0;
    color: #fff;
    text-transform: uppercase;
}

.resize-overflow-div{
    max-width: 1000px;
    margin: 0 auto;
    background: linear-gradient(to top, #2d4efe, #66e3f1);
    background-color: #2d4efe;
}

.resize-content-wraper{
    width: 100%;
    float: left;
}

.resize-content{
    padding: 0 100px 0 150px;
}

.resize-left-block{
    float: left;
    width: 150px;
    margin-left: -100%;
    height: 500px;
    background: lightseagreen;
    color: #fff;
}

.resize-right-block{
    float: left;
    margin-left: -100px;
    width: 100px;
    height: 500px;
    background: #63b273;
    color: #fff;
}


/*---------INDEX SLIDER------------*/
.index_slider {
    position: relative;
    width: 400px;
    background: #b9b9b9;
}

.index_slider .viewport {
    width: 360px;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.index_slider .viewport .overflower {
    width: 1000%;
    height: 360px;
    position: absolute;
    left: 0;
    top: 0;
}

.index_slider .viewport .overflower .item {
    margin: 0 auto;
    width: 360px;
    height: 360px;
    float: left;
    background: #fff;
    margin-right: 0;/*не работает без марджина*/
    margin-left: 0; /*не работает без марджина*/
}

.index_slider .viewport .item .img-container{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 360px;
    height: 360px;
}

.index_slider .viewport .item .img-container img {
    max-width: 360px;
    max-height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.index_slider .buttons {
    width: auto;
    text-align: center;
}

.index_slider .buttons .item {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: #6d6d6d;
    cursor: pointer;
    margin-right: 5px;
}

.index_slider .buttons .item:hover{
    background: #66e3f1;
}

.index_slider .buttons .item.selected {
    background: #66e3f1;
}

/* Обнуляем шрифт и line-height у родителя*/
.index_slider .buttons{
    /*text-align: justify;*/
    line-height: 0;
    font-size: 1px;
}

/* доп элемент для выравнивания по ширине */
.index_slider .buttons .item.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.index_slider .buttons .item{
    /* Востанавливаем у потомков, кроме последнего*/
    line-height: normal;
    font-size: 12px;

    /* Без него в Opera будет отступ под элементами */
    vertical-align: top;
}

.index_slider .to_left, .index_slider .to_right{
    width: 20px;
    height: 20px;
    background: #6d6d6d;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.index_slider .to_left{
    left: 0;
}

.index_slider .to_right{
    right: 0;
}

.index_slider .to_left:hover, .index_slider .to_right:hover{
    background: #66e3f1;
}
/*---------/INDEX SLIDER------------*/


/*---------TOVAR SLIDER------------*/
.tovar_slider {
    position: relative;
    width: 400px;
    background: #b9b9b9;
}

.tovar_slider .viewport {
    width: 360px;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.tovar_slider .viewport .overflower {
    width: 1000%;
    height: 360px;
    position: absolute;
    left: 0;
    top: 0;
}

.tovar_slider .viewport .overflower .item {
    margin: 0 auto;
    width: 360px;
    height: 360px;
    float: left;
    background: #fff;
    margin-right: 0;/*не работает без марджина*/
    margin-left: 0; /*не работает без марджина*/
}

.tovar_slider .viewport .item .img-container{
    position: relative;
    margin: 0 auto;
    width: 360px;
    height: 360px;
}

.tovar_slider .viewport .item .img-container img {
    max-width: 360px;
    max-height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.tovar_slider .buttons {
    width: auto;
}

.tovar_slider .buttons .item {
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    background: #6d6d6d;
    cursor: pointer;
}

.tovar_slider .buttons .item .img-container{
    position: relative;
    margin: 0 auto;
    width: 60px;
    height: 60px;
}

.tovar_slider .buttons .item .img-container img {
    max-width: 60px;
    max-height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.tovar_slider .buttons .item:hover{
    background: #66e3f1;
}

.tovar_slider .buttons .item.selected {
    background: #66e3f1;
}

/* Обнуляем шрифт и line-height у родителя*/
.tovar_slider .buttons{
    text-align: justify;
    line-height: 0;
    font-size: 1px;
}

/* доп элемент для выравнивания по ширине */
.tovar_slider .buttons .item.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.tovar_slider .buttons .item{
    /* Востанавливаем у потомков, кроме последнего*/
    line-height: normal;
    font-size: 12px;

    /* Без него в Opera будет отступ под элементами */
    vertical-align: top;
}

.tovar_slider .to_left, .tovar_slider .to_right{
    width: 20px;
    height: 20px;
    background: #6d6d6d;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.tovar_slider .to_left{
    left: 0;
}

.tovar_slider .to_right{
    right: 0;
}

.tovar_slider .to_left:hover, .tovar_slider .to_right:hover{
    background: #66e3f1;
}
/*---------/TOVAR SLIDER------------*/


/*---------FADE SLIDER------------*/
.fade_slider {
    position: relative;
    width: 400px;
    background: #b9b9b9;
}

.fade_slider .viewport {
    width: 360px;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.fade_slider .viewport .overflower {
    width: 1000%;
    height: 360px;
    position: relative;
}

.fade_slider .viewport .overflower .item {
    margin: 0 auto;
    width: 360px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    margin-right: 0;/*не работает без марджина*/
    margin-left: 0; /*не работает без марджина*/
    opacity: 0;
}

.fade_slider .viewport .item .img-container{
    margin: 0 auto;
    width: 360px;
    height: 360px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.fade_slider .viewport .item .img-container img {
    max-width: 360px;
    max-height: 360px;
}

.fade_slider .buttons {
    width: auto;
    text-align: center;
}

.fade_slider .buttons .item {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: #6d6d6d;
    cursor: pointer;
    margin-right: 5px;
}

.fade_slider .buttons .item:hover{
    background: #66e3f1;
}

.fade_slider .buttons .item.selected {
    background: #66e3f1;
}

.fade_slider .to_left, .fade_slider .to_right{
    width: 20px;
    height: 20px;
    background: #6d6d6d;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.fade_slider .to_left{
    left: 0;
}

.fade_slider .to_right{
    right: 0;
}

.fade_slider .to_left:hover, .fade_slider .to_right:hover{
    background: #66e3f1;
}
/*---------/FADE SLIDER------------*/


/*---------RESIZE SLIDER------------*/
.resize_slider {
    position: relative;
    width: 100%;
    background: #b9b9b9;
}

.resize_slider .viewport {
    width: 94.3%;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.resize_slider .viewport .overflower {
    width: 1000%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}

.resize_slider .viewport .overflower .item {
    margin: 0 10px;
    width: 200px;
    height: 200px;
    float: left;
    background: #fff;
}

.resize_slider .viewport .item .img-container{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.resize_slider .viewport .item .img-container img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.resize_slider .to_left, .resize_slider .to_right{
    width: 20px;
    height: 20px;
    background: #6d6d6d;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.resize_slider .to_left{
    left: 0;
}

.resize_slider .to_right{
    right: 0;
}

.resize_slider .to_left:hover, .resize_slider .to_right:hover{
    background: #66e3f1;
}
/*---------/RESIZE SLIDER------------*/